<div class="flex-box center column-direction full" style="padding-bottom: 100px">

  <div class="panel panel-default" style="width: 400px;">
    <div class="panel-body text-center">

      <h3 style="color: #D9534F"><b>Sign Up</b></h3>

      <form style="padding: 25px;" name="form">
        <div class="form-group">
          <label class="sr-only" for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name"
            ng-model="vm.newUser.name" required>
        </div>
        <div class="form-group">
          <label class="sr-only" for="username">Username</label>
          <input type="text" class="form-control" id="username" placeholder="Username"
            ng-model="vm.newUser.username" required>
        </div>
        <br / />
        <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password"
            ng-model="vm.newUser.password" required>
        </div>
        <div class="form-group">
          <label class="sr-only" for="passwordAgain">Retype Password</label>
          <input type="password" class="form-control" id="passwordAgain"
            placeholder="Retype Password" ng-model="passwordAgain">
        </div>
        <button type="button" class="btn btn-danger full-width"
          ng-disabled="form.$invalid || vm.newUser.password != passwordAgain"
          ng-click="vm.createUser()">
          Sign Up
        </button>
      </form>
    </div>
  </div>

</div>
